* {
    background-color: 
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    margin: 0%;
}
header {
    background-color: #1f2937;
}
.conteiner {
    border: 2px solid rgba(0, 0, 0, 0);
    align-items: center;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content:space-around;
    height:70px ;
    width:100%px ;
    padding: 0px;
    
}
#hero {
    width: 100%;
    height: 470px;
    border: 3px solid rgba(0, 0, 0, 0);
    display: flex;
    align-items:;
    justify-content:space-evenly ;
    flex-direction: ;
    background-color: #1f2937;
    margin: 0px;
    padding: 0px;

}

#info {
    display: flex;
    flex-direction:column ;
    align-items: center;
    align-content: center;
    background-color: aliceblue;
}
.boton1 {
    background-color: #3882f6;
    width: 137px;
    height: 40px;
    border-radius: 10px;
    appearance: none;
    border-style: none;
    font-size: 18px;
    color: #E5E7EB;
    
}
.info2 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}
.contcajas {
    display: flex;
    background-color: aliceblue;

}
.cajitas {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: aliceblue;
    display: flex;
    
}
h2 {
    background-color: aliceblue;
}
footer {
    background-color: #1f2937;
    height: 70px;
}
h1 {
    font-size: 48px;
    color:#F9FAF8;
    display: flex;
}
.hero2 {
    font-size: 18px;
    color: #E5E7EB;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
h2 {
    font-size: 36px;
    font-weight: 800; /* extra bold */
    color: #1f2937;
}
nav {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    
    
}
a {
    text-decoration: none;
    color: inherit;
}
.part2 {
    width: 500px;
    height: 300px;
    display: flex;
    border: 2px solid black;
}